.chessbook-module {
  width: 100%;
  nav {
    padding: 12px 38px;
    text-align: left;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    h1 {
      color: white;
    }
  }
  .section-title {
    padding: 20px 38px 12px;
    display: flex;
    margin-bottom: 50px;
    img {
      width: 32px;
    }
    p {
      font-size: 22px;
      color: white;
      margin-left: 30px;
      margin-bottom: 0;
    }
  }
  .rank-selector {
    text-align: right;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;

    button {
      outline: none;
      background: none;
      border: none;
      padding: 0;
      font-size: 16px;
      color: #0de4e4;
      font-weight: 600;
      cursor: default;
      display: flex;
      flex-direction: row;

      p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        min-width: 80px;
      }
    }
    .range-selector {
      background-color: rgba(255, 255, 255, 0.4);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: rgba(82, 95, 127, 0.04);
      display: flex;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      position: absolute;
      right: -43px;
      top: 30px;
      width: 100px;
      z-index: 2;

      &::before {
        content: '';
        background-color: rgba(255, 255, 255, 0.4);
        width: 100px;
        height: 35px;
        right: 30px;
        position: absolute;
        top: -35px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      button {
        width: 100%;
        text-align: left;
        padding: 2px;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &.visible {
        display: block;
      }
    }
  }
  .chessboards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    .chessboard-container {
      margin-bottom: 130px;
    }
  }
}
