.chessbook-module {
  width: 100%;

  .hide {
    display: none !important;
  }
  .toggler {
    padding: 0;
    position: absolute;
    left: 50%;
    width: 280px;
    margin: 0 0 0 -250px;
    list-style-type: none;
    cursor: pointer;

    &:hover > span {
      background: #96f;
    }

    li {
      font-weight: bold;
      width: 50%;
      float: left;
      text-align: center;
      cursor: pointer;
      color: white;

      * {
        cursor: pointer;
      }

      &:hover {
        opacity: 0.6;
      }

      &.active:nth-child(1) ~ span,
      &.inactive:nth-child(1):hover ~ span {
        left: 0%;
      }

      &.active:nth-child(2) ~ span,
      &.inactive:nth-child(2):hover ~ span {
        left: 50%;
      }
    }
    span {
      position: absolute;
      bottom: -32px;
      display: block;
      width: 50%;
      height: 4px;
      background: #00d4ff;
    }

    li,
    span {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      position: relative;
    }
  }
  .section-title {
    padding: 20px 38px 12px;
    display: flex;
    margin-bottom: 50px;
    img {
      width: 32px;
    }
    p {
      font-size: 22px;
      color: white;
      margin-left: 30px;
      margin-bottom: 0;
    }
  }
  .chessboards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;

    .chessboard-container {
      margin-bottom: 130px;
    }
  }
}
