.dropdown {
  position: absolute;
  z-index: 0;
  background: #fff;
  min-height: 50px;
  width: 232px;
  margin-top: 35px;
  border-radius: 4px;
  padding-bottom: 4px;
  box-shadow: 0 0 0 1px rgb(136 152 170 / 10%),
    0 15px 35px 0 rgb(49 49 93 / 10%), 0 5px 15px 0 rgb(0 0 0 / 8%);

  &:after {
    transform: rotate(180deg);
    content: '';
    position: absolute;
    top: -8px;
    right: 2px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -14px;
    margin-bottom: -14px;
  }

  .box {
    padding: 12px;
    cursor: default;
    &:not(:last-child) {
      box-shadow: inset 0 -1px #e3e8ee;
    }
    &:last-child {
      &:hover {
        background-color: rgb(247, 250, 252);
      }
    }

    h1 {
      color: black;
      font-size: 16px;
      margin: 0;
      cursor: default;
    }
    button {
      width: 100%;
      text-align: left;
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 14px;
      font-weight: 600;
      color: rgb(84, 105, 212);

      &:hover {
        color: rgb(26, 31, 54);
      }
    }
  }
}
