.achievements-container {
  .openings {
    max-width: 1120px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 110px;
    padding: 15px;
    border-radius: 10px;
    .title {
      font-weight: 600;
      color: white;
      text-align: left;
      margin: 0 0 10px 0;
      line-height: 100%;
    }
    .opening-display {
      margin-bottom: 20px;
    }
  }
}
