.rank-selector {
  text-align: right;
  width: 100%;
  max-width: 1020px;
  margin: 57px auto -57px;
  position: relative;
  display: flex;
  justify-content: flex-end;

  button {
    outline: none;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: default;
    display: flex;
    flex-direction: row;

    p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 10px;
      min-width: 80px;
    }
  }
  .range-selector {
    background-color: rgba(255, 255, 255, 0.4);
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(82, 95, 127, 0.04);
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    right: -48px;
    top: 27px;
    margin-right: 40px;
    width: 103px;
    z-index: 2;

    &::before {
      content: '';
      background-color: rgba(255, 255, 255, 0.4);
      width: 200px;
      height: 35px;
      right: 0px;
      position: absolute;
      top: -35px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    button {
      width: 100%;
      padding: 2px 6px;
      border-radius: 2px;
      cursor: pointer;

      display: flex;
      justify-content: flex-end;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &.visible {
      display: block;
    }
  }
}