.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    margin: 15% auto;
    border: 1px solid #888;
    max-width: 448px;
    min-width: 296px;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 8%), 0 3px 6px 0 rgb(0 0 0 / 12%);
    text-align: left;
    background-color: rgb(247, 250, 252);

    .header {
      padding-left: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 12px;
      box-shadow: inset 0 -1px #e3e8ee;
      background-color: #fff;

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        color: rgb(26, 31, 54);
      }
    }

    .sub-header {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 8px;
      padding-top: 16px;

      p {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        color: rgb(26, 31, 54);
      }
    }

    .form-row {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 16px;
      padding-bottom: 16px;

      .form-row-label {
        padding-bottom: 8px;
        label {
          font-size: 14px;
          font-weight: 500;
          color: rgb(60, 66, 87);
        }
      }
      .form-row-input {
        input {
          color: rgb(60, 66, 87);
          width: calc(100% - 16px);
          font-weight: 400;
          font-size: 14px;
          border: none;
          min-height: 28px;
          border-radius: 4px;
          padding-left: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 8px;
          background-color: rgb(255, 255, 255);
          box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;

          &::placeholder {
            color: #a3acb9;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    .footer {
      background-color: #fff;
      padding: 16px 20px;
      text-align: right;
      box-shadow: inset 0 1px #e3e8ee;

      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
        min-height: 28px;
        border: none;
        margin-left: 8px;
        cursor: pointer;
        &.secondary {
          color: rgb(60, 66, 87);
          background-color: rgb(255, 255, 255);
          box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
            rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;

          &:hover {
            box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
              rgb(60 66 87 / 16%) 0px 0px 0px 1px,
              rgb(0 0 0 / 0%) 0px 0px 0px 0px,
              rgb(60 66 87 / 8%) 0px 3px 9px 0px,
              rgb(60 66 87 / 8%) 0px 2px 5px 0px;
          }
        }
        &.primary {
          color: rgb(255, 255, 255);
          background-color: rgb(84, 105, 212);
          box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
            rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
          &:hover {
            box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
              rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
              rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
              rgb(60 66 87 / 8%) 0px 3px 9px 0px,
              rgb(60 66 87 / 8%) 0px 2px 5px 0px;
          }
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
